apiVersion: v1
kind: Service
metadata:
  name: flask-app
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ include "flask-app.name" . }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 5000
      nodePort: {{ .Values.service.nodePort }}
