name: Deploy to Minikube via Helm

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Kubernetes Context
        run: kubectl config use-context minikube

      - name: Deploy using Helm
        run: |
          helm upgrade --install flask-app ./helm/flask-app \
            --namespace flask-app \
            --create-namespace
